<div class="container">
  <h2>Forgot your password?</h2>
</div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "well1 form-horizontal"}) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <label class="col-md-4 control-label">Email</label>
    <div class="col-md-5 inputGroupContainer">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "email@domain.com" %>
      </div>
    </div>
  </div>

  <div class="actions form-group">    
    <div class="col-md-4">
    </div>
    <div class="col-md-5 inputGroupContainer">
      <%= f.submit "Send me instructions", class: "btn btn_long" %>
    </div>
  </div>
<% end %>

<div class="col-md-4">
</div>
<div class="col-md-5">
  <h4>
    <%= render "devise/shared/links" %>
  </h4>
</div>